<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/users.css" />

<body>
  <div class="users-container">
    <% if(!member) { %>
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/signup">SignUp</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/login">Login</a>
        </li>
      </ul>
    </div>

    <div class="users-frame" style="color: #dddddd">
      <div class="board" style="font-size: 40px">Please login first!</div>
    </div>

    <% } else { %>
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link " href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/product/all">Product</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you really want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>



    <div class="users-frame">
      <div class="board">
        <div class="user-table">
  <span class="header-name" style="margin-bottom: 10px; display:block;">All Users List</span>

  <!-- Search Input -->
  <div style="margin-top: 50px; display: flex; justify-content: flex-start; gap: 520px;">
    <div>
      <span id="userCount" class="user-count-badge">All users:  <%= users.length %></span>
    </div>

    <div style="margin-bottom: 20px; display: flex; justify-content: flex-start; gap: 10px;" >
        <input type="text" id="searchInput" placeholder="Search by Name" class="form-control" style="width: 250px; border-radius: 19px;" >
    <button id="searchButton" class="btn btn-primary" style="background-color: success;">Search</button>
    <button id="resetButton" class="btn btn-secondary">Reset</button>
    </div>
    
    
  </div>
  
  <table class="table table-hover table-sm" id="usersTable">
    <thead class="thead-light">
      <tr class="thead-light">
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Points</th>
        <th scope="col">Reg.data</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <% users.map(function(value, index) { %>
      <tbody style="background: white">
        <td><%= index+1 %></td>
        <td class="user-name"><%= value.memberNick %></td>
        <td><%= value.memberPhone %></td>
        <td>⭐️<%= value.memberPoints %></td>
        <td><%= new Date(value.createdAt).toLocaleString('en-US', {
            month: 'short',
            day: '2-digit',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            hour12: false
        }).replace(',', '') %></td>
        <td style="width: 13%">
          <select class="spec-select member-status" id="<%= value._id%>">
            <option value="ACTIVE" <%= value.memberStatus === 'ACTIVE' ? 'selected': '' %> >ACTIVE</option>
            <option value="BLOCK" <%= value.memberStatus === 'BLOCK' ? 'selected': '' %> >BLOCK</option>
            <option value="DELETE" <%= value.memberStatus === 'DELETE' ? 'selected': '' %> >DELETE</option>
          </select>
        </td>
      </tbody>
    <% }) %>
  </table>
</div>
</div>
</div>




    <% } %>
  </div>

  <script type="text/javascript" src="/js/users.js"></script>
</body>

<%- include('includes/footer') %>














